body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar-logo {
  float: left;
  height: 50px;
  padding: 12px;
}
.btn-nav {
  float: right;
  display: inline-block;
  margin: 12px;
  margin-left: 0px;
  padding: 3px 8px;
}
.filter-box {
  box-shadow: 3px 3px 10px #999999;
  padding-bottom: 12px;
}
.filter-condition {
  padding: 8px 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.5);
}
.filter-condition:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.filter-label {
  display: inline-block;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 100;
}
.filter-input {
  display: inline-block;
  width: 100px;
}